<<<<<<< HEAD
<% provide(:title,"Reset password") %>
<h1>Reset password</h1>
=======
<% provide(:title,"密码重置") %>
<h1>密码重置</h1>
>>>>>>> CNweibo

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user,url: password_reset_path(params[:id])) do |f| %>
			<%= render 'shared/error_messages',object: f.object %>
			<%= hidden_field_tag :email, @user.email %>


<<<<<<< HEAD
			<%= f.label :password %>
			<%= f.password_field :password,class: 'form-control' %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation,class: 'form-control' %>

			<%= f.submit "Update password", class: "btn btn-primary" %>
=======
			<%= f.label :密码 %>
			<%= f.password_field :password,class: 'form-control' %>

			<%= f.label :请再次输入密码, "确认" %>
			<%= f.password_field :password_confirmation,class: 'form-control' %>

			<%= f.submit "重置", class: "btn btn-primary" %>
>>>>>>> CNweibo
		<%end%>

	</div>
</div>

